@using  WebApplication16.Models
@using System
@model IEnumerable<Tuple<NavLink,List<NavLink>>>



<nav class="navbar navbar-default">

    <div class="container-fluid">
      </button>
      <a class="navbar-brand" href="/Pages/Index">Cms</a>
    </button>
<ul class="nav navbar-nav navbar-right" style="padding-right:6px;">

    @foreach (var page in Model)
    {
          @if(page.Item2.Count!=0){
            <li role="presentation" class="dropdown">
          
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                 @page.Item1.Title <span class="caret"></span>
                                </a>
                <ul class="dropdown-menu">
                        @foreach(var item in page.Item2){
                                <li><a href="/View/@(item.Title)">@(item.Title)</a></li>
                            
                        }
                         
                 </ul>
                
       
             
            </li>
        }else{
            <li role="presentation" >
                  <a href="@(page.Item1.Page.UrlName)"> @page.Item1.Page.UrlName </a>
            </li>
        }
    }
      
    
</ul>
</div>
</nav>


  
  
  
  

