@model Task2.Models.RelatedPages

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>RelatedPages</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <div class="form-group">
            <label asp-for="Page1Id" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Page1Id"  size="@(ViewBag.PagesCount)" class="form-control" asp-items="ViewBag.Pages"></select>
                <span asp-validation-for="Page1Id" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Page2Id" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Page2Id"  size="@(ViewBag.PagesCount)" class="form-control" asp-items="ViewBag.Pages"></select>
                <span asp-validation-for="Page2Id" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
