@using Task3.Models;
@model IEnumerable<NavLink>


    <div class="well">
        <div class="container">
        <a class="navbar-brand" href="#">Random Links :</a>

        <ul class="nav navbar-nav">
        @foreach(var item in Model){
           <li> <a href="/View/@item.Page.UrlName">@item.Title</a></li>

        }
        </ul>
        </div>
    </div>