@{
    Layout="_Pages";
  
}

@using Task1.Models
@model Page
@{
      ViewData["Title"]=Model.Title;
}
   


<div id="content">
</div>

<div >
    @await Component.InvokeAsync("RelatedPages", new { pageId=Model.PageId })
</div>


@section Scripts{
    <script>
        $(document).ready(function(){
        console.log()
         $('#content').html("@Model.Content");
        $('#content').html($('#content').text());
        })

        </script>
}